h1, h2, h3, h4, h5, h6, p, a, .title {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif; }

.headerNav {
  background-color: #84b8af; }
  .js .headerNav {
    height: 50px; }
    .js .headerNav .container {
      height: 100%; }
  .headerNav__logo {
    display: inline-block;
    max-width: 350px;
    height: 50px;
    position: relative;
    top: 10px; }
    .headerNav__logo img {
      height: 100%;
      max-width: 100%; }
  .headerNav__hamburgger {
    display: none; }
    .js .headerNav__hamburgger {
      display: inline-block;
      float: right;
      height: 100%;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 2em;
      padding: .0 .5em; }
      .js .headerNav__hamburgger:hover, .js .headerNav__hamburgger:focus {
        background-color: #74aea5; }
  .headerNav__menu {
    list-style: none;
    margin: 0;
    padding: 0; }
    .headerNav__menu a {
      color: white;
      display: block;
      font-size: 1.5em;
      border-top: 1px solid #58988d;
      padding: 1em; }
      .headerNav__menu a:hover {
        background-color: #528e84; }
    .js .headerNav__menu {
      display: none; }
    .menu-opened .headerNav__menu {
      display: block; }

.header-animado {
  background-color: #64a59a;
  padding-top: 96px;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden; }
  .header-animado .header-animado__title {
    color: #00151a;
    font-size: 38px;
    font-weight: bold; }
  .header-animado .header-animado__subtitle {
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
    line-height: 1.5em; }
  .header-animado__ilustra {
    background-image: url("../imagens/cenario_all_960.png");
    height: 150px;
    background-size: auto 100%;
    background-position: center top; }
    .header-animado__ilustra > div {
      display: none; }

@keyframes anima_cenario {
  from {
    transform: translateX(-50%) translateZ(0); }
  to {
    transform: translateX(0%) translateZ(0); } }
    @media screen and (min-width: 480px) {
      .header-animado__ilustra {
        background-image: url("../imagens/cenario_all_1530.png"); } }
    @media screen and (min-width: 960px) {
      .header-animado__ilustra {
        background-image: url("../imagens/cenario_bg.png");
        height: 300px;
        position: relative;
        /*.casas {
					@include anima('cenario_casas.png', $valor)
				}*/
        /*.rua {
					@include anima('cenario_rua.png', $valor)
				}*/
        /*.carrosCima {
					@include anima('cenario_carrosCima.png', $valor)
				}*/
        /*.carrosBaixo {
					@include anima('cenario_carrosBaixo.png', $valor)
				}*/
        /*.nuvens {
				@include anima('cenario_nuvens.png', '30s linear infinite reverse');
			}

			.casas {
				@include anima('cenario_casas.png', '30s linear infinite reverse');
			}

			.rua {
				@include anima('cenario_rua.png', '30s linear infinite reverse');
			}

			.carrosCima {
				@include anima('cenario_carrosCima.png', '15s linear infinite reverse');
			}

			.carrosBaixo{
				@include anima('cenario_carrosBaixo.png', '15s linear infinite');
			}*/ }
        .header-animado__ilustra > div {
          display: block;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          width: 4800px; }
        .header-animado__ilustra .casas {
          background-image: url("../imagens/cenario_casas.png");
          animation: anima_cenario 30s linear infinite reverse; }
        .header-animado__ilustra .rua {
          background-image: url("../imagens/cenario_rua.png");
          animation: anima_cenario 30s linear infinite reverse; }
        .header-animado__ilustra .carrosCima {
          background-image: url("../imagens/cenario_carrosCima.png");
          animation: anima_cenario 15s linear infinite reverse; }
        .header-animado__ilustra .carrosBaixo {
          background-image: url("../imagens/cenario_carrosBaixo.png");
          animation: anima_cenario 15s linear infinite; } }

.card-portfolio {
  padding: 0;
  border-radius: 0;
  border: 1px solid transparent;
  position: relative; }
  .card-portfolio:before {
    content: '';
    z-index: -1;
    position: absolute;
    background: #777;
    width: 50%;
    height: 20px;
    box-shadow: 0 15px 10px #777;
    bottom: 12px;
    transform: rotate(-3deg);
    left: 5px; }
  .card-portfolio:after {
    content: '';
    z-index: -1;
    position: absolute;
    background: #777;
    width: 50%;
    height: 20px;
    box-shadow: 0 15px 10px #777;
    bottom: 12px;
    transform: rotate(3deg);
    right: 5px; }
  .card-portfolio__imagem {
    height: 230px;
    overflow: hidden; }
    .card-portfolio__imagem img {
      max-width: 100%;
      opacity: .5;
      transition: opacity .3s linear, transform 1s ease-in; }
  .card-portfolio:hover img {
    opacity: 1;
    transform: scale(1.15) rotate(-5deg); }
  .card-portfolio .card-portfolio__btn {
    background-color: #c5ddd9; }
    .card-portfolio .card-portfolio__btn:hover {
      background: #3fcab2; }
  .card-portfolio__btn {
    display: block;
    border: none;
    border-radius: 0;
    width: 100px;
    transition: background .3s linear;
    background-color: transparent;
    color: #64a59a;
    margin-left: auto;
    position: relative;
    top: 1px; }

.rodape {
  background-color: #c5ddd9;
  color: white;
  padding: 1em 0; }
  .rodape ul {
    overflow: auto;
    padding: 0;
    width: 100%; }
    .rodape ul li {
      width: 20%;
      float: left;
      box-sizing: border-box;
      list-style: none;
      padding: 0; }
    .rodape ul li a {
      font-size: 1.5em;
      color: white;
      display: block;
      text-align: right; }
